/* Header */
.header-container{
    min-width:1200px;
    margin: 0 auto;
    display:flex;
    padding: 30px 250px;
    background-color: lightblue;
}

.header-container>*{
    border: 2px dashed black;
    padding:10px;
    background-color: goldenrod;
}
.header-container>div{
    min-width:200px;
}

.header-container>nav{
    flex-grow: 1;
    text-align:center;
}

nav>ul{
    list-style: none;
}

ul>li{
    display:inline;
}
/* Main */
.container{
    height:350px;
    background-color: darkblue;
    display:flex;
}

.container>div{
    background: rgb(225, 113, 191);
    height:300px;
    width:700px;
    border: 2px dashed black;
    margin:auto;
}
